@font-face {
    font-family: 'ErasBoldITC';
    src:url('/font/ITC Eras Std Bold.otf');
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #FFF1C1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 275px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.shuffle_card{
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .shuffle_card img {
    width: 120px;
    position: absolute;
    transition: transform 0.5s, border 0.5s;
}

#card1 { z-index: 4; }
#card2 { z-index: 3; }
#card3 { z-index: 2; }
#card4 { z-index: 1; }

.card1-open {
    transform: translateX(36.5px) translateY(12px) rotate(15deg);
}

.card2-open {
    transform: translateX(12px) translateY(-6px) rotate(0);
}

.card3-open {
    transform: translateX(-19px) translateY(-13px) rotate(-15deg);
}

.card4-open {
    transform: translateX(-41px) translateY(5px) rotate(-30deg);
}

.card1-move {
    transform: translateX(36.5px) translateY(-49px) rotate(0);
}

.card-reset {
    transform: translateX(0) translateY(0) rotate(0);
}

.loading-text {
    font-family: 'ErasBoldITC';
    color: #F4BC43;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 1px;
    font-size: 35px;
}

.loading-text .text{
    width: 73%;
    text-align: right;
}

.loading-text .dots{
    flex: 1;
}

@keyframes dots {
    0% { content: ""; }
    25% { content: "."; }
    50% { content: ".."; }
    75% { content: "..."; }
    100% { content: ""; }
}

.loading-text .dots::after {
    content: "";
    animation: dots 1.5s infinite steps(1);
}

